//COLUMNS
$grid-columns: 12;           //number of columns in a row
//MAX-WIDTH
$max-width: 1400px;        //maximal width of a row

//GAP
$column-h-gap: 3rem;       //horizontal-gap between columns lie by chance
$column-v-gap: 3rem;       //vertical-gap between columns in a row
$row-v-gap: 0rem;         //vertical-gap of a row
$row-h-gap: 1.5rem;         //horizontal-gap of a row
$first-row-gap: false;
$last-row-gap: false;

//DEFAULT ALIGNMENT
$standard-va: flex-start;    //flex-start | flex-end | center | stretch;
$standard-ha: center;    //flex-start | flex-end | center;

//BOUNDARY
$rangeNames: 'xs', 'sm', 'md', 'lg', 'xl';
$xs-boundary: 600px;
$sm-boundary: 900px;
$md-boundary: 1200px;
$lg-boundary: 1800px;
